<footer class="footer-wrapper">
    <!-- Image Slider Section -->
    <section class="carousel-wrapper">
      <button class="arrow-left" onclick="slideCarousel(-200)">&lt;</button>
      <div class="carousel-container" id="carousel">
        <a target="_blank" href="http://digitalindia.gov.in/" title="Digital India">
          <img src="images/footer/digital-india.png" alt="Digital India">
        </a>
        <a target="_blank" href="http://www.makeinindia.com/" title="Make In India">
          <img src="images/footer/makeinindia.png" alt="Make In India">
        </a>
        <a target="_blank" href="http://india.gov.in/" title="National Portal of India">
          <img src="images/footer/india-gov.png" alt="National Portal of India">
        </a>
        <a target="_blank" href="http://goidirectory.nic.in/" title="GOI Web Directory">
          <img src="images/footer/goidirectory.png" alt="GOI Web Directory">
        </a>
        <a target="_blank" href="https://data.gov.in/" title="Data Portal">
          <img src="images/footer/data-gov.png" alt="Data Portal">
        </a>
        <a target="_blank" href="https://mygov.in/" title="MyGov">
          <img src="images/footer/mygov.png" alt="MyGov">
        </a>
        <a target="_blank" href="https://mygov.in/" title="World Customs Organization">
          <img src="images/footer/WCO.JPG" alt="World Customs Organization">
        </a>
        <a target="_blank" href="https://mygov.in/" title="MCI">
          <img src="images/footer/mci.png" alt="MCI">
        </a>
      </div>
      <button class="arrow-right" onclick="slideCarousel(200)">&gt;</button>
    </section>
    <!-- Separator Line -->
    <div class="footer-separator"></div>
    <!-- Footer Bottom Section -->
    <div class="footer-bottom-wrapper">
      <div class="footer-bottom-container">
        <div class="footer-content">
          <strong>@2025 Indore Customs</strong> | Website Designed, Developed and Maintained by Indore Customs
        </div>
      </div>
    </div>
  </footer>