<!-- ===== Navigation Bar ===== -->
<div class="bottom-header">
    <ul>
      <li><a href="index.html" target="_blank">Home</a></li>
      <li><a href="aboutus.html" target="_blank">About Us</a></li>
      <li class="has-dropdown">Formation
        <ul class="dropdown-content" style="display: none;">
          <li class="has-dropdown"><a href="formation-ICD.html" target="_blank">ICD</a>
            <ul class="nested-dropdown">
              <li><a href="formation-ICD.html" target="_blank">ICD Tihi</a></li>
              <li><a href="formation-ICD.html" target="_blank">ICD Dhannad</a></li>
              <li><a href="formation-ICD.html" target="_blank">ICD Mandideep</a></li>
              <li><a href="formation-ICD.html" target="_blank">ICD Malanpur</a></li>
              <li><a href="formation-ICD.html" target="_blank">ICD Raipur</a></li>
              <li><a href="formation-ICD.html" target="_blank">ICD Kheda</a></li>
              <li><a href="formation-ICD.html" target="_blank">ICD Powerkheda</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="formation-circle.html" target="_blank">Circle</a>
            <ul class="nested-dropdown">
              <li>Bhopal</li>
              <li>Indore</li>
              <li>Ujjain</li>
              <li>Jabalpur</li>
              <li>Raipur</li>
            </ul>
          </li>
          <li class="has-dropdown">Airport
            <ul class="nested-dropdown">
              <li>Indore (DABHIA)</li>
              <li>Bhopal (Raja Bhoj)</li>
              <li>Chatarpur</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has-dropdown">Tax Legislation
        <ul class="dropdown-content" style="display: none;">
          <li><a href="https://taxinformation.cbic.gov.in/" target="_blank">Customs Acts</a></li>
          <li><a href="https://taxinformation.cbic.gov.in/" target="_blank">Customs Rules</a></li>
          <li><a href="https://taxinformation.cbic.gov.in/" target="_blank">Customs Regulation</a></li>
          <li><a href="https://taxinformation.cbic.gov.in/" target="_blank">Customs Notification</li>
          <li><a href="https://taxinformation.cbic.gov.in/" target="_blank">Customs Circulars</a></li>
          <li><a href="https://taxinformation.cbic.gov.in/" target="_blank">Customs Guidelines</a></li>
          <li><a href="https://www.cbic.gov.in/entities/cbic-content-mst/Njk%3D" target="_blank">Customs Tariff</a></li>
          <li><a href="https://www.cbic.gov.in/entities/cbic-content-mst/NzA%3D" target="_blank">Drawback Schedule</a></li>
        </ul>
      </li>
      <li class="has-dropdown">Portal Links
        <ul class="dropdown-content" style="display: none;">
          <li><a href="https://www.icegate.gov.in/" target="_blank">ICEGATE</a></li>
          <li><a href="https://eccsmobility.cbic.gov.in/eicimobility/"  target="_blank">ECCS</a></li>
          <li><a href="https://esanchar.cbic.gov.in/DIN/DINSearch"  target="_blank">Verify CBIC DIN</a></li>
          <li><a href="https://foservices.icegate.gov.in/cip/cip#/home" target="_blank">Compliance Info Portal</a></li>
          <li><a href="https://www.aeoindia.gov.in/" target="_blank">AEO Portal</a></li>
          <li><a href="https://www.dgft.gov.in/CP/"   target="_blank">DGFT Portal</a></li>
        </ul>
      </li>
      <li class="has-dropdown"><a href="news-media.html">News & Media</a>
        <ul class="dropdown-content" style="display: none;">
          <li>Departmental Magazines</li>
          <li>Photo Gallery</li>
          <li>Video Gallery</li>
          <li>Press Coverage</li>
          <li>Media Release</li>
          <li>Events & Highlights</li>
        </ul>
      </li>
      <li><a href="adminsetup.html" target="_blank">Admin. Setup</a></li>
      <li><a href="helpdesk.html" target="_blank">Helpdesk</a></li>
    </ul>
  </div>