<div class="sidebar-section">
    <h6 class="section-main-title">Quick Links</h6>
    <ul class="nav-links">
      <li><a href="directory.html" target="_blank">Directory-Customs Indore</a></li>
      <li><a href="documents/Citizen_Charter.pdf" target="_blank">Citizen-Charter</a></li>
      <li><a href="rti.html" target="_blank">RTI</a></li>
      <li><a href="public-notice.html">Public Notice</a></li>
      <li><a href="swachhta.html">Swachhta Highlights</a></li>
      <li><a href="vigilence.html">Vigilence Awareness</a></li>
    </ul>
    <h6 class="section-main-title">Useful Links</h6>
    <ul class="nav-links">
      <li><a href="https://enquiry.icegate.gov.in/enquiryatices/beTrackIces" target="_blank">Bill of Entry Enquiry</a></li>
      <li><a href="https://enquiry.icegate.gov.in/enquiryatices/sbTrack" target="_blank">Shipping Bill Enquiry</a></li>
      <li><a href="https://enquiry.icegate.gov.in/enquiryatices/ChallanEnquiry/CE" target="_blank">Challan Enquiry</a></li>
      <li><a href="https://www.old.icegate.gov.in/Webappl/Trade-Guide-on-Imports" target="_blank">Customs Duty Calculator</a></li>
      <li><a href="https://foservices.icegate.gov.in/#/services/viewExchangeRate" target="_blank">Exchange Rate</a></li>
    </ul>
  </div>