<div class="header">
  <div class="left-section">
    <img src="images/header/custom-logi.png" alt="Customs Logo">
    <div class="left-text">
      CUSTOMS INDORE<br>
      Bhopal Zone<br>
      Madhya Pradesh & Chattisgarh
    </div>
  </div>
  <div class="centered-text">
    <div style="font-size: 25px; font-weight: bold; color: #0057b7;">कार्यालय आयुक्त, सीमा शुल्क, इंदौर</div>
    <div style="font-size: 20px; font-weight: bold;">OFFICE OF THE COMMISSIONER OF CUSTOMS, INDORE</div>
    <!-- <div style="font-size: 18px; font-weight: bold;">तीसरी मंजिल, बी-जोन, बिज़नेस स्पेस, पिपलिया कुमार, निपनिया, इंदौर-४५२०१०</div>
    <div style="font-size: 18px; font-weight: bold;">3rd FLOOR, B-ZONE, BUSINESS SPACE, PIPALIYA KUMAR, NIPANIA, INDORE-452010</div> -->
  </div>
  <div class="right-section">
    <img src="images/header/flag-logo.png" alt="Flag Logo">
    <img src="images/header/swach-bharat.png" alt="Swachhta Logo">
  </div>
</div>

